<template>
  <div class="HomePage">
    <h1 class="mt-5">Home Page</h1>
    <div class="container mt-5">
      <b-button v-on:click="$router.push('/table')" variant="primary">Visualize Table</b-button>
      <b-button v-on:click="$router.push('/charts')" variant="primary">Visualize Charts</b-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HomePage',
  methods: {
    getPeopleJson () {
      let url = 'https://run.mocky.io/v3/70e5b0ad-7112-41c5-853e-b382a39e65b7'
      fetch(url)
        .then((dataJson) => dataJson.json())
        .then((data) => {
          localStorage.setItem('people', JSON.stringify(data.people))
          localStorage.setItem('peopleSave', JSON.stringify(data.people))
        })
    }
  },
  beforeMount () {
    this.getPeopleJson()
  }
}
</script>

<style scoped>

</style>
