<template>
  <div class="table">
    <div class="d-flex flex-column justify-content-center ml-5 mr-5">
      <b-button class="btn-primary btn col-1 mt-3 mb-1" v-on:click="displayFilterForm">Filter Table</b-button>
      <b-table striped hover small bordered
               class="mt-2"
               id="people-table"
               ref="peopleTable"
               :items="people"
               :fields="fields"
               :per-page="nbRowOnPage"
               :current-page="currentPage"
               :filter="tableFilter.character"
               @row-clicked="rowClicked"
      ></b-table>
      <b-pagination
        class="mt-2 pagination justify-content-center"
        ref="peoplePagination"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="nbRowOnPage"
        aria-controls="people-table"
      ></b-pagination>
      <b-button class="btn-primary btn mt-3" v-on:click="goToGraphics"> Go to Graphics</b-button>
    </div>
    <b-modal id="editPerson" hide-footer hide-header>
      <div v-if="selectedPerson">
        <div>
          <b-form @submit="onSubmit">
            <b-tabs>
              <b-tab title="Contact" active>
                <b-card header="Contact">
                  <div class="row">
                    <div class="col-6">
                      <b-form-group
                        label="First Name"
                        label-for="first-name-input"
                      >
                        <b-form-input
                          id="first-name-input"
                          v-model="selectedPerson.firstname"
                          type="text"
                          placeholder="First name"
                          required
                        ></b-form-input>
                      </b-form-group>
                      <b-form-group
                        label="Last Name"
                        label-for="last-name-input"
                      >
                        <b-form-input
                          id="last-name-input"
                          v-model="selectedPerson.lastname"
                          type="text"
                          placeholder="Last name"
                          required
                        ></b-form-input>
                      </b-form-group>
                      <b-form-group
                        label="Gender"
                        label-for="gender-input"
                      >
                        <b-form-input
                          id="gender-input"
                          v-model="selectedPerson.gender"
                          type="text"
                          placeholder="Gender"
                          required
                        ></b-form-input>
                      </b-form-group>
                      <b-form-group
                        label="Phone"
                        label-for="phone-input"
                      >
                        <b-form-input
                          id="phone-input"
                          v-model="selectedPerson.contact.phone"
                          type="text"
                          placeholder="Phone"
                          required
                        ></b-form-input>
                      </b-form-group>
                    </div>
                    <div class="col-6">
                      <b-form-group
                        label="Email"
                        label-for="email-input"
                      >
                        <b-form-input
                          id="email-input"
                          v-model="selectedPerson.contact.email"
                          type="email"
                          placeholder="Email"
                          required
                        ></b-form-input>
                      </b-form-group>
                      <b-form-group
                        label="Address"
                        label-for="address-input"
                      >
                        <b-form-input
                          id="address-input"
                          v-model="selectedPerson.contact.address"
                          type="text"
                          placeholder="Adress"
                          required
                        ></b-form-input>
                      </b-form-group>
                      <b-form-group
                        label="City"
                        label-for="city-input"
                      >
                        <b-form-input
                          id="city-input"
                          v-model="selectedPerson.contact.city"
                          type="text"
                          placeholder="City"
                          required
                        ></b-form-input>
                      </b-form-group>
                      <b-form-group
                        label="Contry"
                        label-for="contry-input"
                      >
                        <b-form-input
                          id="country-input"
                          v-model="selectedPerson.contact.country"
                          type="text"
                          placeholder="Country"
                          required
                        ></b-form-input>
                      </b-form-group>
                    </div>
                  </div>
                  <b-button type="submit" variant="primary" class="mt-3">Save</b-button>
                </b-card>
              </b-tab>
              <b-tab title="Preferences">
                <b-card header="Preferences">
                  <b-form-group
                    label="Favorite pet"
                    label-for="pet-input"
                  >
                    <b-form-input
                      id="pet-input"
                      v-model="selectedPerson.preferences.favorite_pet"
                      type="text"
                      placeholder="Favorite pet"
                      required
                    ></b-form-input>
                  </b-form-group>
                  <b-form-group
                    label="Favorite fruit"
                    label-for="fruit-input"
                  >
                    <b-form-input
                      id="fruit-input"
                      v-model="selectedPerson.preferences.favorite_fruit"
                      type="text"
                      placeholder="Favorite fruit"
                      required
                    ></b-form-input>
                  </b-form-group>
                  <b-form-group
                    label="Favorite color"
                    label-for="color-input"
                  >
                    <b-form-input
                      id="coor-input"
                      v-model="selectedPerson.preferences.favorite_color"
                      type="text"
                      placeholder="Favorite color"
                      required
                    ></b-form-input>
                  </b-form-group>
                  <b-form-group
                    label="Favorite movie"
                    label-for="movie-input"
                  >
                    <b-form-input
                      id="pet-input"
                      v-model="selectedPerson.preferences.favorite_movie"
                      type="text"
                      placeholder="Favorite movie"
                      required
                    ></b-form-input>
                  </b-form-group>
                  <b-button type="submit" variant="primary" class="mt-3">Save</b-button>
                </b-card>
              </b-tab>
            </b-tabs>
          </b-form>
        </div>
      </div>
      <div v-else>
        <b-tabs>
          <b-tab title="Contact">
            <b-card header="Contact">
              <b-alert show>No people selected</b-alert>
            </b-card>
          </b-tab>
          <b-tab title="Preferences">
            <b-card header="Preferences">
              <b-alert show>No people selected</b-alert>
            </b-card>
          </b-tab>
        </b-tabs>
      </div>
    </b-modal>
    <b-modal id="filterTable" hide-footer hide-header>
      <b-card header="Filter Table" class="mt-3 d-flex">
        <form>
          <label for="global-research" class="mt-3">Global Research</label>
          <input id="global-research" class="form-control" type="text" v-model="tableFilter.character">
          <hr>
          <p>Filter BY</p>
          <b-dropdown text="Select Gender" class="mb-2" block>
            <b-dropdown-item v-on:click="filterBy.gender = 'Female'">Female</b-dropdown-item>
            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-item v-on:click="filterBy.gender = 'Male'">Male</b-dropdown-item>
          </b-dropdown>
          <b-dropdown text="Select Country" class="mb-2" block>
            <div class="longDrop">
              <div v-for="c in dataForFiltering.country" :key="dataForFiltering.country.indexOf(c)">
                <b-dropdown-item v-on:click="filterBy.country = c ">{{ c }}</b-dropdown-item>
                <b-dropdown-divider></b-dropdown-divider>
              </div>
            </div>
          </b-dropdown>
          <b-dropdown text="Select City" class="mb-2" block>
            <div class="longDrop">
              <div v-for="c in dataForFiltering.city" :key="dataForFiltering.city.indexOf(c)">
                <b-dropdown-item v-on:click="filterBy.city = c ">{{ c }}</b-dropdown-item>
                <b-dropdown-divider></b-dropdown-divider>
              </div>
            </div>
          </b-dropdown>
          <hr>
          <b-dropdown text="Select Favorite Pet" class="mb-2" block>
<!--          <b-dropdown :text="filterBy.favorite_pet ? filterBy.favorite_pet : 'Select Favorite Pet'" class="mb-2" block>-->
            <div>
              <div v-for="c in dataForFiltering.favorite_pet" :key="dataForFiltering.favorite_pet.indexOf(c)">
                <b-dropdown-item v-on:click="filterBy.favorite_pet = c ">{{ c }}</b-dropdown-item>
                <b-dropdown-divider></b-dropdown-divider>
              </div>
            </div>
          </b-dropdown>
          <b-dropdown text="Select Favorite Fruit" class="mb-2" block>
            <div>
              <div v-for="c in dataForFiltering.favorite_fruit" :key="dataForFiltering.favorite_fruit.indexOf(c)">
                <b-dropdown-item v-on:click="filterBy.favorite_fruit = c ">{{ c }}</b-dropdown-item>
                <b-dropdown-divider></b-dropdown-divider>
              </div>
            </div>
          </b-dropdown>
          <b-dropdown text="Select Favorite Color" class="mb-2" block>
            <div>
              <div v-for="c in dataForFiltering.favorite_color" :key="dataForFiltering.favorite_color.indexOf(c)">
                <b-dropdown-item v-on:click="filterBy.favorite_color = c ">{{ c }}</b-dropdown-item>
                <b-dropdown-divider></b-dropdown-divider>
              </div>
            </div>
          </b-dropdown>
          <b-dropdown text="Select Favorite Movie" class="mb-2" block>
            <div class="longDrop">
              <div v-for="c in dataForFiltering.favorite_movie" :key="dataForFiltering.favorite_movie.indexOf(c)">
                <b-dropdown-item v-on:click="filterBy.favorite_movie = c ">{{ c }}</b-dropdown-item>
                <b-dropdown-divider></b-dropdown-divider>
              </div>
            </div>
          </b-dropdown>
        </form>
        <b-button v-on:click="filterTable(filterBy)" class="mb-2 btn btn-primary">Filter the table</b-button>
        <b-button v-on:click="removeFilter()" class="mb-2 btn btn-primary">Remove Filter</b-button>
      </b-card>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: 'TableVue',
  data: function () {
    return {
      nbRowOnPage: 15,
      currentPage: 1,
      tableFilter: {
        character: ''
      },
      fields: [
        {key: 'firstname', label: 'First Name', sortable: true},
        {key: 'lastname', label: 'Last Name', sortable: true},
        {key: 'gender', label: 'Gender', sortable: true},
        {key: 'contact.email', label: 'Email', sortable: true},
        {key: 'contact.address', label: 'Address', sortable: true},
        {key: 'contact.city', label: 'City', sortable: true},
        {key: 'contact.country', label: 'Country', sortable: true},
        {key: 'contact.phone', label: 'Phone Number', sortable: true},
        {key: 'preferences.favorite_pet', label: 'Pet', sortable: true},
        {key: 'preferences.favorite_fruit', label: 'Fruit', sortable: true},
        {key: 'preferences.favorite_color', label: 'Color', sortable: true},
        {key: 'preferences.favorite_movie', label: 'Movie', sortable: true}
      ],
      people: [],
      peopleSave: [],
      selectedPerson: undefined,
      selectedPersonIndex: null,
      filterBy: {},
      dataForFiltering: {
        country: [],
        city: [],
        favorite_pet: [],
        favorite_fruit: [],
        favorite_color: [],
        favorite_movie: []
      }
    }
  },
  methods: {
    async getPeopleJson () {
      let url = 'https://run.mocky.io/v3/70e5b0ad-7112-41c5-853e-b382a39e65b7'
      fetch(url)
        .then((dataJson) => dataJson.json())
        // eslint-disable-next-line no-return-assign
        .then((data) => {
          this.people = data.people
          this.peopleSave = [...this.people]
          this.people.forEach(p => {
            if (this.dataForFiltering.country.indexOf(p.contact.country) < 0) {
              this.dataForFiltering.country.push(p.contact.country)
            }
            if (this.dataForFiltering.city.indexOf(p.contact.city) < 0) {
              this.dataForFiltering.city.push(p.contact.city)
            }
            if (this.dataForFiltering.favorite_pet.indexOf(p.preferences.favorite_pet) < 0) {
              this.dataForFiltering.favorite_pet.push(p.preferences.favorite_pet)
            }
            if (this.dataForFiltering.favorite_fruit.indexOf(p.preferences.favorite_fruit) < 0) {
              this.dataForFiltering.favorite_fruit.push(p.preferences.favorite_fruit)
            }
            if (this.dataForFiltering.favorite_color.indexOf(p.preferences.favorite_color) < 0) {
              this.dataForFiltering.favorite_color.push(p.preferences.favorite_color)
            }
            if (this.dataForFiltering.favorite_movie.indexOf(p.preferences.favorite_movie) < 0) {
              this.dataForFiltering.favorite_movie.push(p.preferences.favorite_movie)
            }
          })
        })
    },
    rowClicked (row) {
      this.$bvModal.show('editPerson')
      this.selectedPersonIndex = this.people.indexOf(row)
      this.selectedPerson = {...row}
    },
    onSubmit () {
      event.preventDefault()
      this.$bvModal.hide('editPerson')
      this.people[this.selectedPersonIndex] = {...this.selectedPerson}
      this.peopleSave[this.selectedPersonIndex] = {...this.selectedPerson}
      this.$refs.peopleTable.refresh()
    },
    getNumberOfRows () {
      this.nbRows = this.people.length
    },
    displayFilterForm () {
      this.$bvModal.show('filterTable')
    },
    filterTable (obj) {
      let contact = ['country', 'city']
      let preferences = ['favorite_pet', 'favorite_fruit', 'favorite_color', 'favorite_movie']
      for (let key in obj) {
        if (typeof obj[key] === 'object') {
          this.filterTable(obj[key])
        }
        if (this.filterBy[key] === '') {
          continue
        }
        for (let p in this.people) {
          if (contact.indexOf(key) >= 0) {
            if (this.people[p].contact[key] !== obj[key]) {
              delete this.people[p]
            }
          } else if (preferences.indexOf(key) >= 0) {
            if (this.people[p].preferences[key] !== obj[key]) {
              delete this.people[p]
            }
          } else {
            if (this.people[p][key] !== obj[key]) {
              delete this.people[p]
            }
          }
        }
      }
      // TODO: refresh pagination ...
      // this.getNumberOfRows()
      // this.currentPage = 1
      // console.log(this.nbRows)
      // console.log(this.$refs.peoplePagination._props.totalRows)
      this.$refs.peopleTable.refresh()
      this.$bvModal.hide('filterTable')
    },
    removeFilter () {
      this.filterBy = {}
      this.people = [...this.peopleSave]
      this.$refs.peopleTable.refresh()
      this.$bvModal.hide('filterTable')
    },
    goToGraphics () {
      this.$router.push({name: 'GraphiqueVue', params: {people: this.people}})
    }
  },
  computed: {
    rows () {
      return this.people.length
    }
  },
  watch: {
    pouette () {
      // TODO: toi t'es qui watch?
      return true
    }
  },
  beforeMount () {
    this.getPeopleJson()
    this.getNumberOfRows()
  }
}
</script>

<style scoped>
.longDrop {
  height: 30em;
  overflow-y: scroll;
}
</style>
