<template>
  <div class="chart">
    <p>{{chartParameters.data.datasets[0].label}}</p>
<!--    <p>{{chartParameters.data}}</p>-->
    <BarChart :chart-data="chartParameters.data" :options="chartParameters.options"/>
  </div>
</template>

<script>
import BarChart from '../ChartsScript/BarChart'
export default {
  name: 'BarChartComponent',
  components: {
    BarChart
  },
  props: {
    chartParameters: {
      type: Object,
      require: true
    }
  }
}
</script>

<style scoped>

</style>
