<template>
  <div class="charts">
    <PieChart :chart-data="chartParameters.data" :options="chartParameters.options"/>
  </div>
</template>

<script>
import PieChart from '../ChartsScript/PieChart'
export default {
  name: 'DonutChartsComponent',
  components: {
    PieChart
  },
  props: {
    chartParameters: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>
  .charts {
    width: 20em;
  }
</style>
