<template>
  <b-modal id="editPerson" hide-footer hide-header>
    <div v-if="selectedPerson">
      <div>
        <b-form @submit="onSubmit">
          <b-tabs>
            <b-tab title="Contact" active>
              <b-card header="Contact">
                <div class="row">
                  <div class="col-6">
                    <b-form-group
                      label="First Name"
                      label-for="first-name-input"
                    >
                      <b-form-input
                        id="first-name-input"
                        v-model="selectedPerson.firstname"
                        type="text"
                        placeholder="First name"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group
                      label="Last Name"
                      label-for="last-name-input"
                    >
                      <b-form-input
                        id="last-name-input"
                        v-model="selectedPerson.lastname"
                        type="text"
                        placeholder="Last name"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group
                      label="Gender"
                      label-for="gender-input"
                    >
                      <b-form-input
                        id="gender-input"
                        v-model="selectedPerson.gender"
                        type="text"
                        placeholder="Gender"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group
                      label="Phone"
                      label-for="phone-input"
                    >
                      <b-form-input
                        id="phone-input"
                        v-model="selectedPerson.contact.phone"
                        type="text"
                        placeholder="Phone"
                        required
                      ></b-form-input>
                    </b-form-group>
                  </div>
                  <div class="col-6">
                    <b-form-group
                      label="Email"
                      label-for="email-input"
                    >
                      <b-form-input
                        id="email-input"
                        v-model="selectedPerson.contact.email"
                        type="email"
                        placeholder="Email"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group
                      label="Address"
                      label-for="address-input"
                    >
                      <b-form-input
                        id="address-input"
                        v-model="selectedPerson.contact.address"
                        type="text"
                        placeholder="Adress"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group
                      label="City"
                      label-for="city-input"
                    >
                      <b-form-input
                        id="city-input"
                        v-model="selectedPerson.contact.city"
                        type="text"
                        placeholder="City"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group
                      label="Contry"
                      label-for="contry-input"
                    >
                      <b-form-input
                        id="country-input"
                        v-model="selectedPerson.contact.country"
                        type="text"
                        placeholder="Country"
                        required
                      ></b-form-input>
                    </b-form-group>
                  </div>
                </div>
                <b-button type="submit" variant="primary" class="mt-3">Save</b-button>
              </b-card>
            </b-tab>
            <b-tab title="Preferences">
              <b-card header="Preferences">
                <b-form-group
                  label="Favorite pet"
                  label-for="pet-input"
                >
                  <b-form-input
                    id="pet-input"
                    v-model="selectedPerson.preferences.favorite_pet"
                    type="text"
                    placeholder="Favorite pet"
                    required
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  label="Favorite fruit"
                  label-for="fruit-input"
                >
                  <b-form-input
                    id="fruit-input"
                    v-model="selectedPerson.preferences.favorite_fruit"
                    type="text"
                    placeholder="Favorite fruit"
                    required
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  label="Favorite color"
                  label-for="color-input"
                >
                  <b-form-input
                    id="coor-input"
                    v-model="selectedPerson.preferences.favorite_color"
                    type="text"
                    placeholder="Favorite color"
                    required
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  label="Favorite movie"
                  label-for="movie-input"
                >
                  <b-form-input
                    id="pet-input"
                    v-model="selectedPerson.preferences.favorite_movie"
                    type="text"
                    placeholder="Favorite movie"
                    required
                  ></b-form-input>
                </b-form-group>
                <b-button type="submit" variant="primary" class="mt-3">Save</b-button>
              </b-card>
            </b-tab>
          </b-tabs>
        </b-form>
      </div>
    </div>
    <div v-else>
      <b-tabs>
        <b-tab title="Contact">
          <b-card header="Contact">
            <b-alert show>No people selected</b-alert>
          </b-card>
        </b-tab>
        <b-tab title="Preferences">
          <b-card header="Preferences">
            <b-alert show>No people selected</b-alert>
          </b-card>
        </b-tab>
      </b-tabs>
    </div>
  </b-modal>
</template>

<script>
export default {
  name: 'EditFormComponent',
  props: {
    selectedPerson: Object
  },
  methods: {
    onSubmit () {
      event.preventDefault()
      this.$emit('updatePerson', this.selectedPerson)
    }
  }
}
</script>

<style scoped>

</style>
