<template>
  <div>
    <b-modal id="filterTable" hide-footer hide-header>
      <b-card header="Filter Table" class="mt-3 d-flex">
        <form>
          <p>Filter BY</p>
          <b-dropdown :text="getFilterNameSelected('gender')" class="mb-2" block variant="info">
            <b-dropdown-item v-on:click="filterBy.gender = 'Female'">Female</b-dropdown-item>
            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-item v-on:click="filterBy.gender = 'Male'">Male</b-dropdown-item>
          </b-dropdown>
          <b-dropdown :text="getFilterNameSelected('country')" class="mb-2" block variant="info">
            <div class="longDrop">
              <div v-for="c in dataForFiltering.country" :key="dataForFiltering.country.indexOf(c)">
                <b-dropdown-item v-on:click="filterBy.country = c ">{{ c }}</b-dropdown-item>
                <b-dropdown-divider></b-dropdown-divider>
              </div>
            </div>
          </b-dropdown>
          <b-dropdown :text="getFilterNameSelected('city')" class="mb-2" block variant="info">
            <div class="longDrop">
              <div v-for="c in dataForFiltering.city" :key="dataForFiltering.city.indexOf(c)">
                <b-dropdown-item v-on:click="filterBy.city = c ">{{ c }}</b-dropdown-item>
                <b-dropdown-divider></b-dropdown-divider>
              </div>
            </div>
          </b-dropdown>
          <hr>
          <b-dropdown :text="getFilterNameSelected('pet')" class="mb-2" block variant="info">
            <!--          <b-dropdown :text="filterBy.favorite_pet ? filterBy.favorite_pet : 'Select Favorite Pet'" class="mb-2" block>-->
            <div>
              <div v-for="c in dataForFiltering.favorite_pet" :key="dataForFiltering.favorite_pet.indexOf(c)">
                <b-dropdown-item v-on:click="filterBy.favorite_pet = c ">{{ c }}</b-dropdown-item>
                <b-dropdown-divider></b-dropdown-divider>
              </div>
            </div>
          </b-dropdown>
          <b-dropdown :text="getFilterNameSelected('fruit')" class="mb-2" block variant="info">
            <div>
              <div v-for="c in dataForFiltering.favorite_fruit" :key="dataForFiltering.favorite_fruit.indexOf(c)">
                <b-dropdown-item v-on:click="filterBy.favorite_fruit = c ">{{ c }}</b-dropdown-item>
                <b-dropdown-divider></b-dropdown-divider>
              </div>
            </div>
          </b-dropdown>
          <b-dropdown :text="getFilterNameSelected('color')" class="mb-2" block variant="info">
            <div>
              <div v-for="c in dataForFiltering.favorite_color" :key="dataForFiltering.favorite_color.indexOf(c)">
                <b-dropdown-item v-on:click="filterBy.favorite_color = c ">{{ c }}</b-dropdown-item>
                <b-dropdown-divider></b-dropdown-divider>
              </div>
            </div>
          </b-dropdown>
          <b-dropdown :text="getFilterNameSelected('movie')" class="mb-2" block variant="info">
            <div class="longDrop">
              <div v-for="c in dataForFiltering.favorite_movie" :key="dataForFiltering.favorite_movie.indexOf(c)">
                <b-dropdown-item v-on:click="filterBy.favorite_movie = c ">{{ c }}</b-dropdown-item>
                <b-dropdown-divider></b-dropdown-divider>
              </div>
            </div>
          </b-dropdown>
        </form>
        <hr class="mt-3">
        <div class="d-flex flex-md-column justify-content-center">
          <b-button v-on:click="filterTable(filterBy)" class="mb-2 btn btn-primary" variant="success">Filter the table</b-button>
          <b-button v-on:click="removeFilter()" class="mb-2 btn btn-primary" variant="danger">Remove Filter</b-button>
        </div>
      </b-card>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: 'FilterFormComponent',
  props: {
    people: Array
  },
  data: function () {
    return {
      filterBy: {
        gender: 'None',
        country: 'None',
        city: 'None',
        favorite_pet: 'None',
        favorite_fruit: 'None',
        favorite_color: 'None',
        favorite_movie: 'None'
      },
      dataForFiltering: {
        country: [],
        city: [],
        favorite_pet: [],
        favorite_fruit: [],
        favorite_color: [],
        favorite_movie: []
      }
    }
  },
  methods: {
    getDataNameToFilter () {
      this.people.forEach(p => {
        if (this.dataForFiltering.country.indexOf(p.contact.country) < 0) {
          this.dataForFiltering.country.push(p.contact.country)
        }
        if (this.dataForFiltering.city.indexOf(p.contact.city) < 0) {
          this.dataForFiltering.city.push(p.contact.city)
        }
        if (this.dataForFiltering.favorite_pet.indexOf(p.preferences.favorite_pet) < 0) {
          this.dataForFiltering.favorite_pet.push(p.preferences.favorite_pet)
        }
        if (this.dataForFiltering.favorite_fruit.indexOf(p.preferences.favorite_fruit) < 0) {
          this.dataForFiltering.favorite_fruit.push(p.preferences.favorite_fruit)
        }
        if (this.dataForFiltering.favorite_color.indexOf(p.preferences.favorite_color) < 0) {
          this.dataForFiltering.favorite_color.push(p.preferences.favorite_color)
        }
        if (this.dataForFiltering.favorite_movie.indexOf(p.preferences.favorite_movie) < 0) {
          this.dataForFiltering.favorite_movie.push(p.preferences.favorite_movie)
        }
      })
      this.$emit('getDataForFiltering', this.dataForFiltering)
    },
    filterTable (obj) {
      let contact = ['country', 'city']
      let preferences = ['favorite_pet', 'favorite_fruit', 'favorite_color', 'favorite_movie']
      for (let key in obj) {
        if (typeof obj[key] === 'object') {
          this.filterTable(obj[key])
        }
        if (this.filterBy[key] === 'None') {
          continue
        }
        for (let p in this.people) {
          if (contact.indexOf(key) >= 0) {
            if (this.people[p].contact[key] !== obj[key]) {
              delete this.people[p]
            }
          } else if (preferences.indexOf(key) >= 0) {
            if (this.people[p].preferences[key] !== obj[key]) {
              delete this.people[p]
            }
          } else {
            if (this.people[p][key] !== obj[key]) {
              delete this.people[p]
            }
          }
        }
      }
      let copy = []
      this.people.forEach(p => {
        if (p !== undefined) {
          copy.push(p)
        }
      })
      this.$emit('filterBy', copy)
    },
    removeFilter () {
      for (let key in this.filterBy) {
        this.filterBy[key] = 'None'
      }
      this.$emit('removeFilter')
    },
    getFilterNameSelected (category) {
      switch (category) {
        case 'gender':
          if (this.filterBy.gender !== 'None') {
            return this.filterBy.gender
          } else {
            return 'Select Gender'
          }
        case 'country':
          if (this.filterBy.country !== 'None') {
            return this.filterBy.country
          } else {
            return 'Select Country'
          }
        case 'city':
          if (this.filterBy.city !== 'None') {
            return this.filterBy.city
          } else {
            return 'Select City'
          }
        case 'pet':
          if (this.filterBy.favorite_pet !== 'None') {
            return this.filterBy.favorite_pet
          } else {
            return 'Select Favorite Pet'
          }
        case 'fruit':
          if (this.filterBy.favorite_fruit !== 'None') {
            return this.filterBy.favorite_fruit
          } else {
            return 'Select Favorite Fruit'
          }
        case 'color':
          if (this.filterBy.favorite_color !== 'None') {
            return this.filterBy.favorite_color
          } else {
            return 'Select Favorite Color'
          }
        case 'movie':
          if (this.filterBy.favorite_movie !== 'None') {
            return this.filterBy.favorite_movie
          } else {
            return 'Select Favorite Movie'
          }
      }
    }
  },
  mounted () {
    if (this.people) {
      this.getDataNameToFilter()
    }
  }
}
</script>

<style scoped>
  .longDrop {
    height: 30em;
    overflow-y: scroll;
  }
  .update {
    background-color: lightgreen;
    border-color: lightgreen;
    color: #2c3e50;
  }
  .remove {
    background-color: crimson;
    border-color: crimson;
    color: #2c3e50;
  }
</style>
