<template>
  <div>
    <b-button class="btn-primary btn mt-3" v-on:click="$bvModal.show('filterTable')" variant="primary">Filter Table</b-button>
    <div v-if="isDataLoading" class="graphique mt-5">
    <FilterFormComponent
      :people="componentPeople"
      @filterBy="getFilterData"
      @removeFilter="resetData"
    />
      <BarChartComponent
        class="m-3"
        :chart-parameters="chartParametersGender"
      />
      <BarChartComponent
        class="m-3"
        :chart-parameters="chartParametersCity"
      />
      <DonutChartsComponent
        class="m-3"
        :chart-parameters="chartParametersCountry"
      />
      <DonutChartsComponent
        class="m-3"
        :chart-parameters="chartParametersColor"
      />
      <BarChartComponent
        class="m-3"
        :chart-parameters="chartParametersFruits"
      />
      <DonutChartsComponent
        class="m-3"
        :chart-parameters="chartParametersMovie"
      />
      <BarChartComponent
        class="m-3"
        :chart-parameters="chartParametersPets"
      />
    </div>
    <div class="d-flex justify-content-center mt-5">
      <b-button class="btn-primary btn mt-3" v-on:click="goBackToTable" variant="primary"> Go back to Table</b-button>
    </div>
  </div>
</template>

<script>
import FilterFormComponent from './FilterFormComponent'
import DonutChartsComponent from './DonutChartsComponent'
import BarChartComponent from './BarChartComponent'

export default {
  name: 'GraphiqueVue',
  components: {
    FilterFormComponent,
    DonutChartsComponent,
    BarChartComponent
  },
  props: {
    people: {
      type: Array,
      required: true
    },
    dataForFiltering: {
      type: Object,
      required: true
    }
  },
  data: function () {
    return {
      test: 0,
      componentPeople: [],
      chartOptions: {
        hoverBorderWidth: 20
      },
      chartParametersGender: {},
      chartParametersCity: {},
      chartParametersCountry: {},
      chartParametersPets: {},
      chartParametersFruits: {},
      chartParametersColor: {},
      chartParametersMovie: {},
      genderLabels: ['Female', 'Male'],
      isDataLoading: false
    }
  },
  methods: {
    initPie () {
      this.sortPeople()
    },
    getFilterLength () {
      let filters = {
        gender: [0, 0],
        city: [],
        country: [],
        color: [],
        fruit: [],
        movie: [],
        pet: []
      }
      this.dataForFiltering.city.forEach(d => {
        filters.city.push(0)
      })
      this.dataForFiltering.country.forEach(d => {
        filters.country.push(0)
      })
      this.dataForFiltering.favorite_color.forEach(d => {
        filters.color.push(0)
      })
      this.dataForFiltering.favorite_fruit.forEach(d => {
        filters.fruit.push(0)
      })
      this.dataForFiltering.favorite_movie.forEach(d => {
        filters.movie.push(0)
      })
      this.dataForFiltering.favorite_pet.forEach(d => {
        filters.pet.push(0)
      })
      return filters
    },
    generateRandomColor (length) {
      let colors = []
      for (let i = 0; i < length; i++) {
        colors.push('#' + Math.floor(Math.random() * 16777215).toString(16))
      }
      return colors
    },
    sortPeople () {
      let filters = this.getFilterLength()
      this.componentPeople.forEach(p => {
        // sort gender
        p.gender === this.genderLabels[0] ? filters.gender[0]++ : filters.gender[1]++
        // sort city
        let cityIndex = this.dataForFiltering.city.indexOf(p.contact.city)
        filters.city[cityIndex] += 1
        // sort country
        let countryIndex = this.dataForFiltering.country.indexOf(p.contact.country)
        filters.country[countryIndex] += 1
        // sort color
        let colorIndex = this.dataForFiltering.favorite_color.indexOf(p.preferences.favorite_color)
        filters.color[colorIndex] += 1
        // sort fruit
        let fruitIndex = this.dataForFiltering.favorite_fruit.indexOf(p.preferences.favorite_fruit)
        filters.fruit[fruitIndex] += 1
        // sort movie
        let movieIndex = this.dataForFiltering.favorite_movie.indexOf(p.preferences.favorite_movie)
        filters.movie[movieIndex] += 1
        // sort pet
        let petIndex = this.dataForFiltering.favorite_pet.indexOf(p.preferences.favorite_pet)
        filters.pet[petIndex] += 1
      })
      // create data parameters for all charts
      this.setChartsParameters(filters)
    },
    setChartsParameters (filters) {
      // BarChart for Gender
      this.chartParametersGender = {
        data: {
          labels: this.genderLabels,
          datasets: [{
            label: 'Gender',
            backgroundColor: this.generateRandomColor(1)[0],
            data: filters.gender
          }]
        },
        options: {
          title: {
            display: true,
            text: 'Sort by Gender'
          },
          responsive: true,
          maintainAspectRatio: false
        }
      }
      // Barchart for City
      this.chartParametersCity = {
        data: {
          labels: this.dataForFiltering.city,
          datasets: [{
            label: 'City',
            backgroundColor: this.generateRandomColor(1)[0],
            data: filters.city
          }]
        },
        options: {
          title: {
            display: true,
            text: 'Sort by City'
          },
          responsive: true,
          maintainAspectRatio: false
        }
      }
      // PieChart for Country
      this.chartParametersCountry = {
        data: {
          hoverBackgroundColor: 'red',
          hoverBorderWidth: 10,
          labels: this.dataForFiltering.country,
          datasets: [
            {
              label: '',
              backgroundColor: this.generateRandomColor(filters.country.length),
              data: filters.country
            }
          ]
        },
        options: {
          title: {
            display: true,
            text: 'Sort by Country'
          },
          responsive: true,
          maintainAspectRatio: false,
          legend: {
            display: false
          }
        }
      }
      // PieChart for Color
      this.chartParametersColor = {
        data: {
          hoverBackgroundColor: 'red',
          hoverBorderWidth: 10,
          labels: this.dataForFiltering.favorite_color,
          datasets: [
            {
              label: 'Favorite Color',
              backgroundColor: this.generateRandomColor(filters.color.length),
              data: filters.color
            }
          ]
        },
        options: {
          title: {
            display: true,
            text: 'Sort by Favorite Color'
          },
          responsive: true,
          maintainAspectRatio: false,
          legend: {
            display: true
          }
        }
      }
      // Barchart for Fruits
      this.chartParametersFruits = {
        data: {
          labels: this.dataForFiltering.favorite_fruit,
          datasets: [{
            label: 'Favorite Fruit',
            backgroundColor: this.generateRandomColor(filters.fruit.length),
            data: filters.fruit
          }]
        },
        options: {
          title: {
            display: true,
            text: 'Sort by Fruit'
          },
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          },
          responsive: true,
          maintainAspectRatio: false
        }
      }
      // PieChart for Movie
      this.chartParametersMovie = {
        data: {
          hoverBackgroundColor: 'red',
          hoverBorderWidth: 10,
          labels: this.dataForFiltering.favorite_movie,
          datasets: [
            {
              label: 'Favorite Movie',
              backgroundColor: this.generateRandomColor(filters.movie.length),
              data: filters.movie
            }
          ]
        },
        options: {
          title: {
            display: true,
            text: 'Sort by Favorite Movie'
          },
          responsive: true,
          maintainAspectRatio: false,
          legend: {
            display: false
          }
        }
      }
      // Barchart for Pet
      this.chartParametersPets = {
        data: {
          labels: this.dataForFiltering.favorite_pet,
          datasets: [{
            label: 'Favorite Pet',
            backgroundColor: this.generateRandomColor(filters.pet.length),
            data: filters.pet
          }]
        },
        options: {
          title: {
            display: true,
            text: 'Sort by Favorite Pet'
          },
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          },
          responsive: true,
          maintainAspectRatio: false
        }
      }
    },
    getFilterData (filterData) {
      this.componentPeople = filterData
      this.sortPeople()
      this.$bvModal.hide('filterTable')
    },
    resetData () {
      this.componentPeople = [...this.people]
      this.sortPeople()
      this.$bvModal.hide('filterTable')
    },
    goBackToTable () {
      this.$router.push('/')
    }
  },
  mounted () {
    if (this.people) {
      this.componentPeople = [...this.people]
      this.initPie()
      this.isDataLoading = true
    } else {
      this.$router.push('/')
    }
  }
}
</script>

<style scoped>
.graphique {
  display: inline-flex;
  flex-wrap: wrap;
}
</style>
