<template>
  <div class="NavBar p-2">
    <h1>Data Visualizer</h1>
  </div>
</template>

<script>
export default {
  name: 'NavBar'
}
</script>

<style scoped>
  .NavBar {
    background-color: #43c9ea;
    color: #162128;
  }
</style>
