<template>
  <div>
    <div class="d-flex justify-content-between">
      <div>
        <b-button class="btn-primary btn" v-on:click="displayFilterForm" variant="primary">Filter Table</b-button>
      </div>
      <div class="col-4 mb-3">
        <label for="global-research" class="mt-3">Global Research</label>
        <input id="global-research" class="form-control" type="text" v-model="tableFilter.character">
      </div>
    </div>
    <b-table striped hover small bordered
             class="mt-2"
             id="people-table"
             ref="peopleTable"
             :items="people"
             :fields="fields"
             :per-page="nbRowOnPage"
             :current-page="currentPage"
             :filter="tableFilter.character"
             @filtered="filterTable"
             @row-clicked="rowClicked"
    ></b-table>
    <b-pagination
      class="mt-2 pagination justify-content-center"
      ref="peoplePagination"
      v-model="currentPage"
      :total-rows="numberRows"
      :per-page="nbRowOnPage"
      aria-controls="people-table"
    ></b-pagination>
    <FilterFormComponent
      :people="people"
      @filterBy="displayFilterTable"
      @removeFilter="displayFullTable"
      @getDataForFiltering="storeDataForFiltering"/>
    <EditFormComponent :selected-person="selectedPerson" @updatePerson="updatePerson"/>
  </div>
</template>

<script>
import FilterFormComponent from './FilterFormComponent'
import EditFormComponent from './EditFormComponent'

export default {
  name: 'PeopleTableComponent',
  components: {
    FilterFormComponent,
    EditFormComponent
  },
  props: {
    people: Array
  },
  data: function () {
    return {
      fields: [
        {key: 'firstname', label: 'First Name', sortable: true},
        {key: 'lastname', label: 'Last Name', sortable: true},
        {key: 'gender', label: 'Gender', sortable: true},
        {key: 'contact.email', label: 'Email', sortable: true},
        {key: 'contact.address', label: 'Address', sortable: true},
        {key: 'contact.city', label: 'City', sortable: true},
        {key: 'contact.country', label: 'Country', sortable: true},
        {key: 'contact.phone', label: 'Phone Number', sortable: true},
        {key: 'preferences.favorite_pet', label: 'Pet', sortable: true},
        {key: 'preferences.favorite_fruit', label: 'Fruit', sortable: true},
        {key: 'preferences.favorite_color', label: 'Color', sortable: true},
        {key: 'preferences.favorite_movie', label: 'Movie', sortable: true}
      ],
      numberRows: 0,
      nbRowOnPage: 10,
      currentPage: 1,
      tableFilter: {
        character: ''
      },
      selectedPerson: undefined,
      selectedPersonIndex: undefined,
      filterBy: {},
      dataForFiltering: {}
    }
  },
  mounted () {
    this.numberRows = this.people.length
    this.$emit('getDataForFiltering', this.dataForFiltering)
  },
  methods: {
    displayFilterForm () {
      this.$bvModal.show('filterTable')
    },
    displayFilterTable (filterTable) {
      this.$emit('updatePeopleTable', filterTable)
      this.$bvModal.hide('filterTable')
      // this.people ne s'update pas assez vite pour display le nombre de rows ...
      this.numberRows = filterTable.length
      this.currentPage = 1
      this.$refs.peopleTable.refresh()
    },
    displayFullTable () {
      this.$emit('updatePeopleTable', JSON.parse(localStorage.getItem('peopleSave')))
      this.$bvModal.hide('filterTable')
      // this.people ne s'update pas assez vite pour display le nombre de rows ...
      this.numberRows = 100
      this.currentPage = 1
      this.$refs.peopleTable.refresh()
    },
    rowClicked (row) {
      this.selectedPerson = {...row}
      this.selectedPersonIndex = this.people.indexOf(row)
      this.$bvModal.show('editPerson')
    },
    updatePerson (person) {
      this.people[this.selectedPersonIndex] = {...person}
      this.$bvModal.hide('editPerson')
      this.$refs.peopleTable.refresh()
    },
    filterTable (filteredItems) {
      this.numberRows = filteredItems.length
      this.currentPage = 1
    },
    storeDataForFiltering (data) {
      this.dataForFiltering = data
    }
  }
}
</script>

<style scoped>

</style>
