<template>
  <div class="tablePage mt-5 d-flex justify-content-center">
    <div v-if="isPeopleFinishLoading" class="col-11">
      <PeopleTableComponent
        :people="this.people"
        @updatePeopleTable="updatePeopleTable"
        @getDataForFiltering="getDataForFiltering"/>
      <b-button class="btn-primary btn mt-3" v-on:click="goToGraphics" variant="primary"> Go to Graphics</b-button>
      <download-csv
        class="col-2"
        :data="flatPeople"
        name="people.csv"
        :separator-excel="true">
        <b-button variant="secondary">Download Data To CSV</b-button>
      </download-csv>
      <vue-blob-json-csv
        class="col-2"
        file-type="json"
        file-name="people"
        :data="people">
        <b-button variant="secondary">Download Data To JSON</b-button>
      </vue-blob-json-csv>
    </div>
  </div>
</template>

<script>
import PeopleTableComponent from './PeopleTableComponent'

export default {
  name: 'TablePage',
  components: {
    PeopleTableComponent
  },
  data: function () {
    return {
      people: [],
      dataForFiltering: {},
      flatPeople: [],
      isPeopleFinishLoading: false
    }
  },
  beforeMount () {
    this.getPeopleJson()
  },
  methods: {
    getPeopleJson () {
      let url = 'https://run.mocky.io/v3/70e5b0ad-7112-41c5-853e-b382a39e65b7'
      fetch(url)
        .then((dataJson) => dataJson.json())
        .then((data) => {
          this.people = data.people
          this.flatPeople = this.adaptDataToCSVExport()
          this.isPeopleFinishLoading = true
          localStorage.setItem('peopleSave', JSON.stringify(data.people))
        })
    },
    updatePeopleTable (peopleTable) {
      this.people = peopleTable
      this.flatPeople = this.adaptDataToCSVExport()
    },
    goToGraphics () {
      this.$router.push({
        name: 'GraphiquePage',
        params: {
          people: this.people,
          dataForFiltering: this.dataForFiltering
        }
      })
    },
    adaptDataToCSVExport () {
      let peopleCSV = []
      this.people.forEach(p => {
        peopleCSV.push(this.objectFlating({}, p))
      })
      return peopleCSV
    },
    objectFlating (refObj, objToParse) {
      for (let key in objToParse) {
        if (typeof objToParse[key] === 'object') {
          refObj = this.objectFlating(refObj, objToParse[key])
        } else {
          // TODO: quelques soucis d'encodage avec le module pour télécharger le CSV
          // Pourtant il est censé être en UTF-8 de base
          if (key === 'phone') {
            refObj[key] = objToParse[key].replace(/-/g, '_')
          } else {
            refObj[key] = objToParse[key]
          }
        }
      }
      return refObj
    },
    getDataForFiltering (value) {
      this.dataForFiltering = value
    }
  }
}
</script>

<style scoped>

</style>
