<template>
  <div id="app">
    <nav-bar></nav-bar>
    <router-view/>
<!--    <router-view @getPeople="getPeople"/>-->
  </div>
</template>

<script>
import NavBar from './components/NavBar'
export default {
  name: 'App',
  components: {
    NavBar
  },
  data: function () {
    return {
      people: []
    }
  },
  methods: {
    getPeople (value) {
      console.log("j'ai reçu !")
      this.people = value
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #162128;
}
</style>
